@page "/alcoholic-cocktails"

<PageTitle>Alcoholic Cocktails</PageTitle>

<div class="table">
    <div class="row">
        <h1>Alcoholic Cocktails</h1>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
            <input type="text" @bind-value="_searchQuery" @bind-value:event="oninput" placeholder="Search cocktails..." class="@((_filteredDrinks != null && _filteredDrinks.Any()) ? "result-found" : "result-not-found")">
        </div>
    </div>
</div>

@if (_drinks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if(_statusService.isProcessing)
    {
        <p class="text-warning">Machine is busy please wait</p>
    }
    <div class="table">
        <div class="container">
            @foreach (var drink in _filteredDrinks)
            {
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8 col-8">
                        <h4 class="cocktailName"> @*  @onclick="@(async () => await Process(drink))" *@
                            @drink.Name
                        </h4>
                        <div class="ingredients">
                            @(string.Join(", ", drink.Ingradients.Select(i => $"{i.Key} {i.Value}ml ")))
                        </div>
                        @if (drink.Garnishes.Count > 0)
                        {
                            <div class="garnishes">
                                Garnish/Add:
                                @(string.Join(", ", drink.Garnishes))
                            </div>
                        }
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-3 text-center">
                        @if ((!drink.IsProcessing && !_statusService.isProcessing) || (drink.IsProcessing && _statusService.isProcessing))
                        {
                            <button type="button" class="btn @(drink.IsProcessing ? "btn-warning" : "btn-primary")" disabled="@_statusService.isProcessing"
                            @onclick="@(async () => await Process(drink))">
                                @(drink.IsProcessing ? "Processing" : "Make")
                            </button>

                            @if (!_statusService.isProcessing)
                            {
                                <button type="button" class="btn @(drink.IsProcessing ? "btn-warning" : "btn-primary")"
                                @onclick="@(() => NavigateToCustomCocktailPage(drink))">
                                    @(drink.IsProcessing ? "Processing" : "Customize")
                                </button>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
